body {
    font-family: "Questrial", sans-serif;
    line-height: 1.5em;
    margin: auto;
    background-color: #c0deed;
}

header {
    font-size: 30px;
    color: white;
    background-color: #00aced;
    padding: 20px 10px;
    text-align: center;
}

main {
    margin: 5px;
    padding: 10px;
}

.content {
    width: 49%;
    display: inline-block;
    margin: 0px 10px;
    align-content: center;
}

.bio {
    display: inline-block;
    vertical-align: top;
    align-content: center;
    width: 20%;
    border: 1px solid #00aced;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
}

.aside {
    display: inline-block;
    vertical-align: top;
    align-content: center;
    width: 25%;
    padding: 0 5px 5px 5px;
    border: 1px solid #00aced;
    border-radius: 5px;
    background-color: white;
}

img {
    text-align: center;
}

#twitterText {
    resize: none;
    overflow: hidden;
    border: 1px solid #c0deed;
    padding: 5px;
    margin: 2px;
    border-radius: 5px;
    font-size: 20px;
}

#btnTwitter {
    color: white;
    border: none;
    border-radius: 5px;
    background-color: #00aced;
    font-size: 20px;
}

#counter {
    padding: 0 0 0 490px;
}

thead p {
    font-size: 18px;
    font-weight: bold;
}

ul {
    list-style-type: none;
}

#tweetsPosted {
    text-align: center;
}

#post1, #post2, #post3 {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
    background-color: white;
}

#tweets p {
    padding: 7px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px;
    background-color: white;
}